.background-image {
    background-image: url('../static/svg/sky_gradient.svg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    width: 90%;
    margin: 0 auto;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px); /*repeat(5, 1fr);*/ /*repeat(auto-fill, minmax(200px, 1fr));*/
    grid-auto-rows: 300px;
    column-gap: 50px;
    row-gap: 20px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.project {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.project h3 {
    margin: 0;
    line-height: 30px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.project-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    position: relative;
    z-index: -2;
}
.project-image-container {
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    margin: 10px auto;
    width: 300px;
    height: 180px; /*calc(100% - 70px);*/
}


.project p {
    margin: 0;
    font-size: 0.9rem;
    height: 4em;
    text-align: left;
    color: dimgrey;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* REFERENCE: used chatGPT to figure out how to wrap lines with an ellipsis for overflow */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title {
    text-align: center;
    font-size: 2em;
    padding-top: 20px;
    padding-bottom: 40px;
    font-weight: normal;
}
