
#title {
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 0;
}

#subtitle {
    font-weight: 400;
    color: black;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
}

#subsubtitle {
    font-weight: 400;
    color: dimgrey;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}