body {
    margin: 0;
    background-color: #DEF4F0;
    font-family: inika, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.App {
    text-align: center;
}

.floaty-logo {
    height: 5rem;
    pointer-events: none;
}

.nav-bar-logo {
    height: 5rem;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -15px;
}

.nav-bar-container {
    padding: 1.2rem;
}
.nav-bar {
    padding: 0 0;
    font-family: roboto, sans-serif;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.nav-bar-section {
    padding: 0 1rem;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.7);
}

.nav-item {
    padding: 0 1rem 0 1rem;
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}
.nav-text {
    padding: 0 1rem 0 1rem;
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-weight: 500;
}

.nav-item:hover {
    color: FireBrick;
}

button {
    width: max-content;
    padding: 10px 20px;
    border: none;
    font-size: 1.0rem;
    border-radius: 2px;
    font-family: inika, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-image: linear-gradient(to top right, rgba(125, 47, 62, 0.51), rgba(237, 137, 157, 0.5));
    background-color: #ffffff;
    color: #390000;
    cursor: pointer;
    outline: none;
    transition: background-color 0.1s ease-in-out;
}
button:hover {
    background-color: #978383;
}
button:active {
    background-color: #390000;
    color: #ffffff;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    outline: none;
    box-sizing: border-box;
    width: 100%;
}

.red-brick-gradient-text {
    background: -webkit-linear-gradient(#afa8a8, #a72a2a); /* Example gradient */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.explore-project p, .dashboard-project p {
    margin: 0;
    font-size: 0.9rem;
    height: 4em;
    text-align: left;
    color: dimgrey;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* REFERENCE: used chatGPT to figure out how to wrap lines with an ellipsis for overflow */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (prefers-reduced-motion: no-preference) {
    .floaty-logo {
        animation: logoAnimation infinite 5s ease-in-out;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes logoAnimation {
    0% {
        transform: translateX(-8px);
    }
    50% {
        transform: translateX(8px);
    }
    100% {
        transform: translateX(-8px);
    }
}

/***** FIELD ******/

.field-with-error input{
    border: 1px solid firebrick;
    color: firebrick;
}

.error-text {
    color: firebrick;
}

/***** CONFIRMATION POPUP ******/

.darken-background {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.popup {
    padding: 2em;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}
.popup-container {
    position: fixed;
    top: 20%;
    z-index: 100;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


