.background-image {
    background-image: url('../static/svg/sky_gradient_w_circle.svg');
    background-size: cover;
    background-repeat: no-repeat;
    position:fixed;
    width:100vw;
    height:100vh;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-box h2 {
    text-align: center;
    color: #333;
}

.login-box form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.login-box button {
    margin-top: 20px;
    width: 100%;
}

#login-button-box {
    margin-top:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.field-label {
    margin-top: 10px;
}

.login-box button:hover {
    background-color: #444;
}

.error-text {
    text-align: center;
}