
.background-image {
    background-image: url('../static/svg/sky_gradient.svg');
    background-size: cover;
    background-repeat: no-repeat;
    position:fixed;
    width:100vw;
    height:100vh;
}

.project-edit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.submit-button-container {
    margin-top: 2em;
    margin-bottom: 2em;
}

.image-and-desc-container, .github-fields-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    column-gap: 2em;
}

.help-icon-container {
    position: relative;
}

.help-icon {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 5px;
    font-size: 16px;
    color: #999;
    transition: color 0.3s;
}
.help-icon.visible {
    color: #555;
}

.help-text {
    position: absolute;
    top: -20px;
    left: 0;
    width: 200px;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}