
.background-image {
    background-image: url('../static/svg/sky_gradient.svg');
    background-size: cover;
    background-repeat: no-repeat;
    position:fixed;
    width:100vw;
    height:100vh;
}

.project-edit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.submit-button-container {
    margin-top: 2em;
    margin-bottom: 2em;
}

.image-and-desc-container, .github-fields-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    column-gap: 2em;
}